@{
    ViewData["Title"] = "Login";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My Golf Handicap</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @if (ViewBag.invalidlogon)
    {
        <div class="div_invalid_login">Invalid login. Please try again</div>
    }
    <form method="post" asp-controller="Home" asp-action="Login">
        <div class="div_login_border_1">
            <div class="div_login_border_2">
                <div class="div_login_label">User Name</div>
                <div><input class="div_login_input" type="text" name="txtUserName" /></div>
                <div class="div_login_label">Password</div>
                <div><input class="div_login_input" type="password" name="txtPassword" /></div>
                <button class="button_login">Login</button>
            </div>
        </div>
    </form>
</body>
</html>


